* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
}
body,
.header,
.section {
  background-color: white;
  color: black;
}
.heading {
  color: gray;
  font-size: 18px;
  cursor: pointer;
  font-size: 15px;
}
.dark-mode,
.header,
.section {
  background-color: black;
  color: white;
}
