// header.scss colors
$bg-black: black;
$bg-white: white;
$bg-darkgrayshade: #aaa;
$bg-lightgray: lightgray;
$bg-btn: #f8f8f8;
$bg-btn-hover: #f0f0f0;

// side bar colors
$h3-color: rgb(138, 130, 130);

// banner color
$gray-color: gray;
$red-color: red;

// video section color
$bg-videos: rgb(241, 241, 241);
